DISCORD_WEBHOOK_URL=
FORTNITE_API_KEY=
UBISOFT_EMAIL=
UBISOFT_PASSWORD=
ARENYZE_API_KEY=

R6_PLAYER_1_NAME=
R6_PLAYER_1_PLATFORM=pc
R6_PLAYER_2_NAME=
R6_PLAYER_2_PLATFORM=pc
R6_PLAYER_3_NAME=
R6_PLAYER_3_PLATFORM=pc

FN_PLAYER_1_NAME=
FN_PLAYER_1_ACCOUNT_TYPE=epic
FN_PLAYER_2_NAME=
FN_PLAYER_2_ACCOUNT_TYPE=epic
FN_PLAYER_3_NAME=
FN_PLAYER_3_NAME_FALLBACK=
FN_PLAYER_3_ACCOUNT_TYPE=epic
